
name: Snyk Security Scan
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Install Snyk CLI
        run: npm install -g snyk

      -      - name: Run Snyk Test
        run: snyk test --severity-threshold=medium
        env:
